__pycache__/
local_settings.py
.DS_Store
._.DS_Store
*._*
*.pyc
log/
db.sqlite3

#Tests
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover

@Sass
.sass-cache/
*.css.map

docker-compose.yml
static
tmp
